about.css
html {
 margin: 0;
 padding: 0;
 width: 100%;
}

body {
   background-color: #FAFAFA ;
   color: #284f86 ;
   font-family: Helvetica Neue, sans-serif;
   font-weight: lighter;
   text-align: center;
   padding-top: 2.5%;
 }

content {
  display: inline-block;
  width:50%;
  margin-top: 2%;
  /*border-radius: 15px;*/
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5%;
  background-color: ffffff;
}

section {
   display: inline-block;
   width:95%;
   padding-left: 2.5%;
   padding-right: 2.5%;

 }

header{
  display:block;
  height:75%;
  background-color:FAFAFA;
}

.links {
 list-style: none;
 display: inline;
 margin-right: .25%;
 text-align: center;
}

a {
 text-decoration: none;
 color: #6b4981 ;
 font-weight: lightest;
 font-size: 12px;
 background-color: ffffff;
 padding: .75em;
}
a:hover {
 color:#fff;
 background-color: #284f86 ;
 padding: .75em;
}

h2  {
 color: #6b4981 ;
 font-family: Helvetica Neue, sans-serif;
 font-weight: lighter;
 text-align: center;

}

h3 {
  color:6b4981;
  font-family: Helvetica Neue, sans-serif;
  font-weight: lighter;
  text-align: center;
}

h4 {
  color:6b4981;
  font-family: Helvetica Neue, sans-serif;
  font-weight: lighter;
}

.external{
  background-color: transparent;
}
.external:hover {
 color: #284f86 ;
 background-color: transparent;
 padding:0em;
 border-radius: 0em;
}

.mainimage {
  max-width: 100%;
}
nav {
  display:block;
  margin-left: -2.5%;
  margin-top: 5%;
  padding-top: 2.5%;
  margin-bottom: 5%;

}
ul {
  display:block;
  text-align: center;

}

footer {
  padding: 2.5%;
}

.mainimage{
  display:inline-block;
  align-content: center;
  max-height: 100%;
}
