html{
  margin:0
  padding:0
  width: 100%;
  background-color: #FAFAFA;
  color: #6b4981;
  font-family: Helvetica, arial; sans-serif;
  text-align: center;
  font-size: 16px;
}

img{
  display: inline-block;
  max-width: 100%;
  padding: 5px;
  border: 0px;
  max-width: 100%;
}

.description {
  font-size: 2em;
  display: inline-block;;
  padding: 0px 64.5px 0px 64.5px;
  margin: 20px;
}

ul{
  margin:5%;
  height:15px;
  margin 0px 3px;
}

.links {
 list-style: none;
 display: inline;
 text-transform: uppercase;
 letter-spacing: 1px
 border: 5%

}

a {
 text-decoration: none;
 color: #6b4981;
 font-size: 24px;
 margin-right: .70em;
 background-color: #ffffff;
 border-radius: .75em;
 padding:.75em;
}

a:hover {
 color:#fff;
 background-color: #284f86 ;
 border-radius: .75em;
 padding: .75em;
}

section{
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
}

h1{
  margin-bottom: 7%
}
